
.container{
    text-align: left;
}
.nav-pills-custom > li > a {
    /* color: lightgrey; */
}

.nav-pills-custom > li > a:focus,
.nav-pills-custom > li > a:hover {
    background: none;
    color: grey;
}

.panel-custom > .panel-heading {
    background: none;
    border-bottom: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #337ab7;
}
.form-control-nav {
    background-color: #f0ffff;
    border: lightgrey solid 1px;
    border-radius: 15px;
}
body {
    background-color: #f0ffff;
}
.navbar-default .navbar-collapse,
.navbar-default {
    background-color: white;
}
.panel-footer {
    background-color: lightcyan;
}
.well {
    background-color: lightcyan;
}
a {
    color: #60a6c1;
}
div.panel-heading {
    padding-top: 15px;
    padding-bottom: 0px;
}
.form-control-feedback {
    line-height: 27px;
}
.panel-info {
    border: 1px lightgrey solid;
}

.commentPost{
    margin-left: 80px;
}
.showPost{
    /* margin-left: 0;
    margin-bottom: 10px; */
    margin-left: 80px;
    margin-bottom: 10px;
}
.media-heading{
    color: blue;
}

input[type="file"] {
    display: none;
}