body {
    height: 100%;
    margin: 0;
}
.pageContent {
    height: 100vh;
    background: url("background1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}
.welcomeScreen {
    text-align: center;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotate-center {
    -webkit-animation: rotate-center 3s ease-in both;
    animation: rotate-center 3s ease-in both;
    line-height: 1.4;
    font-weight: 500;
    color: white;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
